.presentacion__contenedor {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 360px){
    .presentacion__contenedor {
        display: grid;
        grid-template-areas: 
        "foto"
        "descripccion";
        grid-template-rows: 30% 10%;
    }
}