.presentacion__foto {
    height: 25rem;
    border-radius: 50%;
}

@media screen and (max-width: 768px){
    .presentacion__foto {
        height: 15rem;
    }
}

@media screen and (max-width: 360px){
    .presentacion__foto {
        height: 12rem;
        grid-area: foto;
    }
}