.contacto__contenedor {
    background-color: rgb(210, 241, 241);
    padding: 10px;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 50% 40%;
}

@media screen and (max-width: 768px){
    .contacto__contenedor {
        grid-template-columns: 100%;
    }
}