.presentacion__contenedor_texto {
    margin-top: 60px;
    width: 50vw;
}

.presentacion__contenedor_texto--titulo {
    font-size: 160%;
    margin-bottom: 1rem;
}

.presentacion__contenedor_texto--sub_titulo {
    font-size: 105%;
    margin-bottom: 2rem;
}

@media screen and (max-width: 360px){
    .presentacion__contenedor_texto {
        width: 95vw;
        grid-area: descripccion;
    }
}