.experiencia__item {
    text-align: center;
    height: 500px;
    margin: 10px;
    display: grid;
    grid-template-columns: 50% 50%;
}

.experiencia__item--descripcion {
    padding: 6rem 1rem 1rem 1rem;
}

.experiencia__item--list {
    list-style: none;
}

.experiencia__item--image {
    height: 50%;
    padding: 1rem;
}

.experiencia__item--vinculo {
    display: inline-block;
    background-color: lightgreen;
    text-decoration: none;
    color: purple;
    padding: 4px 8px 4px 4px;
    border-radius: 4px;
    margin-bottom: 1rem;
}

@media screen and (max-width: 768px){
    .experiencia__item {
        grid-template-columns: 100%;
        grid-template-rows: 250px 500px;
        margin-bottom: 8rem;
    }
    
    .experiencia__contenedor_imagen {
        width: 95vw;
        text-align: center;
    }

    .experiencia__item--image {
        height: 40vw;
    }

}

@media screen and (max-width: 360px){
    .experiencia__item {
        grid-template-rows: 80px 350px;
        margin-bottom: 100px;
    }

    .experiencia__item--image {
        height: 45vw;
    }
}