.experiencia__item {
    text-align: center;
    height: 500px;
    margin: 10px;
    display: grid;
    grid-template-columns: 50% 50%;
}

.experiencia__item--descripcion {
    padding: 6rem 1rem 1rem 1rem;
}

.experiencia__item--list {
    list-style: none;
}

.experiencia__item--image {
    height: 50%;
    padding: 1rem;
}

.experiencia__item--vinculo {
    display: inline-block;
    background-color: lightgreen;
    text-decoration: none;
    color: purple;
    padding: 4px 8px 4px 4px;
    border-radius: 4px;
    margin-bottom: 1rem;
}