.skills_y_hobbies__hobbies {
    display: grid;
    grid-template-columns: 18% 18% 18% 18% 18%;
    padding-left: 10%;
}

.skills_y_hobbies__hobbies--titulo {
    text-align: center;
    margin-bottom: 10px;
}

.skills_y_hobbies__hobbies--item {
    background-color: rgb(179, 255, 230);
    margin-right: 1rem;
    margin-bottom: 10px;
    text-align: center;
}

.skills_y_hobbies__hobbies--item_subtitulo {
    margin: 0.5rem 0;
}

.skills_y_hobbies__hobbies--image {
    height: 110px;
}

@media screen and (max-width: 768px){
    .skills_y_hobbies__hobbies {
        grid-template-columns: 30% 30% 30%;
    }
}